$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.borderCell {
  border-right: 1px solid #F0F0F0 ;
  border-bottom: 1px solid #F0F0F0 ;
}

header {
  padding-left: 0;

  h1 {
    background: url('http://static.mic.com/assets/images/global/nav/desktop/sprites-brands.png?v=3');
    width: 150px;
    height: 55px;
    text-indent: -999999px;
  }
}

#content {
  &.container {
    border: 1px solid grey;
    padding: 0;
    margin-bottom: 20px;
  }
}


.entry, .gridheader {
  display: table-row;
  font-size: 10px;
  &:nth-child(even) {
    background: #E8E8E8;
  }

  .article {
    @extend .borderCell;
    display: table-cell;
    width: 72%;
    font-size: 12px;
    padding: 10px;
    position: relative;

    a {
      color: #034771;
      font-weight: bold;
    }

    img {
      display: inline-block;
      margin-right: 10px;
      height: 40px;
      float: left
    }

    div {

    }

    ul {
      position: absolute;
      right: 10px;
      bottom: 10px;
      margin: 0;
      padding: 0;

        li {
          display: inline;
          font-size: 8px;
          font-weight: bold;
          color: #005A00;
          text-transform: capitalize;
        }
    }
  }

  .words {
    @extend .borderCell;
    display: table-cell;
    width: 10%;
    vertical-align: middle;
    text-align: center;
  }

  .author {
    @extend .borderCell;
    display: table-cell;
    width: 10%;
    vertical-align: middle;
    text-align: center;
  }

  .submitted {
    border-bottom: 1px solid #F0F0F0;
    display: table-cell;
    width: 10%;
    vertical-align: middle;
    text-align: center;
  }
}

.gridheader {
  background: linear-gradient(#D60000, #6F0000);
  color: #fff;
  font-weight: bold;
}

.sort {
  cursor: pointer;
}

#loadMore {
  margin-bottom: 40px
}