<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mic</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="container">
      <h1>Mic</h1>
    </header>

    <div id="content" class="container">
      <div class="gridheader">
        <div class="article">Unpublished Articles</div>
        <div id="wordSort" class="sort words">Words</div>
        <div class="author">Author</div>
        <div id="submitSort" class="sort submitted">Submitted</div>
      </div>
      <div class="entry"></div>
    </div>

    <div class="container">
      <button id='loadMore' class="btn btn-primary btn-lg center-block">Load More</button>
    </div>
    
    <script id="entry-template" type="text/x-handlebars-template">

    {{#each dataset}}
      <div class="entry">
        <div class="article">
          <img src="{{image}}">
          <div><a href="{{url}}">{{title}}</a></div>
          <ul>
            {{#each tags}}
              <li>{{name}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="words">{{words}}</div>
        <div class="author">{{profile.first_name}} {{profile.last_name}}</div>
        <div class="submitted">{{publish_at}}</div>
      </div>
      {{/each}}
    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/handlebars/handlebars.min.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
